* {
  margin: 0;
  padding: 0;
}

/* Hero Section Style */

#hero-container {
  width: 100vw;
  height: 100vh;
  background-image: url(./pictures/HeroImage.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#header-container {
  width: 1440px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 118px;
  padding-right: 118px;
  box-sizing: border-box;
}
#navbar-items {
  gap: 24px;
  display: flex;
}

.navbar-item {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

/*Hero Section Texts*/

#hero-texts {
  margin-top: 69px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#pure {
  font-size: 80px;
  font-weight: 400;
  color: #e8edf2b8;
  font-family: "Inter", serif;
}

#awaits {
  font-size: 250px;
  font-weight: 400;
  color: #fdfdfefa;
  font-family: "Bebas Neue", sans-serif;
}

#year {
  font-size: 64px;
  font-weight: 900;
  color: #ffffffcc;
  font-family: "Hanuman", serif;
}

/*Location Section Start*/

#LocationContainer {
  width: 100vw;
  height: 100vh;
  background-color: red;
  background-image: url(./pictures/Location\ image.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#locations {
  width: 1440px;
  height: 500px;
  padding-left: 110px;
  padding-right: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  box-sizing: border-box;
}
#terh {
  width: 250px;
  height: 370px;
  background-size: cover;
  position: relative;
  display: flex;
  border-radius: 40px;
  box-shadow: 8px 8px 0px 0px #29728b -8px -8px 0px 0px #1f72aa;
  align-items: center;
  background-image: url(./pictures/1\ \(1\).png);
}

#blackBox {
  position: absolute;
  width: 250px;
  height: 370px;
  background-color: black;
  border-radius: 40px;
  opacity: 0;
}
#terh:hover #blackBox {
  opacity: 0.5;
}

#amar {
  width: 250px;
  height: 370px;
  background-size: cover;
  position: relative;
  border-radius: 40px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  box-shadow: 8px 8px 0px 0px #29728b -8px -8px 0px 0px #1f72aa;
  align-items: center;
  background-image: url(./pictures/2.png);
}
#amar:hover #blackBox {
  opacity: 0.5;
}
#huvsgul {
  width: 250px;
  height: 370px;
  background-size: cover;
  position: relative;
  border-radius: 40px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  box-shadow: 8px 8px 0px 0px #29728b -8px -8px 0px 0px #1f72aa;
  align-items: center;
  background-image: url(./pictures/3.png);
}
#huvsgul:hover #blackBox {
  opacity: 0.5;
}

#horgo {
  width: 250px;
  height: 370px;
  background-size: cover;
  position: relative;
  border-radius: 40px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  box-shadow: 8px 8px 0px 0px #29728b -8px -8px 0px 0px #1f72aa;
  align-items: center;
  background-image: url(./pictures/4.png);
}
#horgo:hover #blackBox {
  opacity: 0.5;
}

.textLocation {
  font-family: sans-serif;
  font-size: 37px;
  font-weight: 400;
  color: #fdfdfe;
}

/*Roadmap Section Start*/

#roadmap {
  width: 100vw;
  height: 100vh;
  background-image: url(./pictures/Location\ image.png);
  background-size: cover;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#roadmapContainer {
  width: 1440px;
  height: 902px;
  background-image: url(./pictures/Roadmap\ image.png);
  background-size: cover;
  position: relative;
}

#roadmaptitle {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 1440px;
  height: 204px;
  padding-top: 120px;
}

#roadItems {
  width: 1200px;
  height: 902px;
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  gap: 20px;
  box-sizing: border-box;
  padding-top: 59px;
}

.roadSukh {
  width: 513px;
  height: 112px;
  background-color: #eee9d9;
  border-radius: 120px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Sukhbaatar-location {
  width: 245px;
  height: 245px;
  position: absolute;
  border-radius: 50%;
  top: 35%;
  right: 9%;
  background-image: url(./pictures/Frame\ 176.png);
  background-size: cover;
  display: none;
}

#sukhbaatar:hover + #Sukhbaatar-location {
  display: flex;
}

.roadAmar {
  width: 513px;
  height: 112px;
  background-color: #8bb8c1cc;
  border-radius: 120px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Amar-location {
  width: 245px;
  height: 245px;
  position: absolute;
  border-radius: 50%;
  top: 24.5%;
  right: 24%;
  background-image: url(.//pictures/Frame\ 177.png);
  background-size: cover;
  display: none;
}

#Amar:hover + #Amar-location {
  display: flex;
}

.roadKhorgo {
  width: 513px;
  height: 112px;
  background-color: #aad8d7cc;
  border-radius: 120px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Khorgo-location {
  width: 245px;
  height: 245px;
  position: absolute;
  border-radius: 50%;
  top: 40%;
  right: 33%;
  background-image: url(./pictures/11111.png);
  background-size: cover;
  display: none;
}

#Khorgo:hover + #Khorgo-location {
  display: flex;
}

.roadTerkh {
  width: 513px;
  height: 112px;
  background-color: #8bc0bdcc;
  border-radius: 120px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Terkh-location {
  width: 245px;
  height: 245px;
  position: absolute;
  border-radius: 50%;
  top: 19%;
  right: 38%;
  background-image: url(./pictures/Frame\ 178.png);
  background-size: cover;
  display: none;
}

#Terkh:hover + #Terkh-location {
  display: flex;
}

.roadKhuvsgul {
  width: 513px;
  height: 112px;
  background-color: #97cce0cc;
  border-radius: 120px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Khuvsgul-location {
  width: 245px;
  height: 245px;
  position: absolute;
  border-radius: 50%;
  top: 19%;
  right: 25.9%;
  background-image: url(./pictures/Frame\ 179.png);
  background-size: cover;
  display: none;
}

#Khuvsgul:hover + #Khuvsgul-location {
  display: flex;
}

/*Road Item Texts*/

.title {
  font-size: 24px;
  color: #090908;
  font-weight: 500;
  padding-left: 30px;
}

.location__name {
  font-size: 12px;
  color: #18181b;
  font-weight: 400;
  padding-left: 12px;
}
.pin {
  width: 14px;
  height: 14px;
  padding-left: 30px;
}

.ellipse {
  width: 52px;
  height: 52px;
  font-size: 14px;
  border-radius: 50%;
  background-color: #f7f6f3;
  align-items: center;
  margin-right: 30px;
}

.day {
  padding-top: 18px;
  padding-left: 9px;
}

/*Road Map Section End*/

/*Price Section Start*/

#price {
  width: 100vw;
  height: 100vh;
  background-image: url(./pictures/Price&Footer\ image.png);
  background-size: cover;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footercontainer {
  width: 1440px;
  height: 1120px;
}

#pricecontainer {
  width: 1440px;
  height: 85px;
  padding-left: 110px;
  padding-right: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  box-sizing: border-box;
  padding-top: 12px;
}

#pricetextposition {
  width: 1440px;
  height: 85px;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
}

#pricetext {
  font-weight: 600;
  font-size: 51px;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

#text {
  font-weight: 24px;
  font-size: 500;
  color: #181818;
  padding-top: 10px;
}

#cardcontainer {
  width: 1200px;
  height: 527px;
  display: flex;
  margin-top: 79px;
  gap: 24px;
  align-items: center;
  margin-left: 119px;
  position: relative;
}

.card {
  width: 384px;
  height: 527px;
  background-color: #fafbfc;
  border-radius: 40px;
  gap: 24px;
}


.cardheader {
  width: 384px;
  height: 92px;
  display: flex;
  align-items: center;
}

.button {
  width: 36px;
  height: 36px;
  background-image: url(./pictures/heartbutton.png);
  background-size: cover;
  margin-left: 34px;
}

.text {
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 16px;
}

.info-container {
  width: 336px;
  height: 78px;
  padding-top: 12px;
}

.prices {
  font-size: 40px;
  font-weight: 600;
  font-family: "Montserrat", serif;
  padding-left: 24px;
}

.package {
  width: 336px;
  height: 180px;
  font-size: 16px;
  color: #919191;
  font-weight: 500;
  font-family: "Inter", serif;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 16px;
}

.include {
  font-size: 18px;
  font-weight: 500;
  padding-left: 64px;
}

.item {
  padding-left: 24px;
  color: Text/TextSecondary;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  gap: 16px;
}

.check {
  gap: 16px;
  background-image: url(./pictures/check.png);
  width: 20px;
  height: 20px;
  background-size: cover;
}

.select-button {
  width: 336px;
  height: 48px;
  font-weight: 600;
  border-radius: 40px;
  background-color: #a4d1e2;
  border: #a4d1e2;
  margin-left: 24px;
  margin-top: 37px;
}

.card:hover {
  box-shadow:
    -8px -8px 0px 0px rgba(46, 65, 71, 0.4),
    8px 8px 0px 0px rgba(41, 114, 139, 0.25);
}

.card:hover .select-button {
  color: white;
  background-color: black;
}

/*Footer Section*/
.footer {
  width: 1440px;
  height: 204px;
  display: flex;
  margin-top: 185px;
  justify-content: space-between;
  gap: 10px;
}


.social {
  width: 167px;
  height: 44px;
  font-size: 18px;
  color: #6972b5;
  font-weight: 700;
  border-radius: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social img{
  width: 21px;
  height: 21px;
}

.pinetour {
  height: 35px;
  width: 101px;
  margin-left: auto;
}

